PORT=3001
CORS_ORIGINS=http://localhost:3000,https://blue.com.ua

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_PRODUCTS_KEY=products

CATEGORIES_DB_PATH=data/categories.sqlite
